version: '3.8'
services:
  postgres-db:
    image: postgres:14-alpine
    container_name: nest_crud_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: nest_crud_api
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: